<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>PolyServlet</servlet-name>
        <servlet-class>Controllers.PolyServlet</servlet-class>
        <init-param>
            <param-name>jdbcDriver</param-name>
            <param-value>com.mysql.jdbc.Driver</param-value>
        </init-param>
    </servlet>
    <servlet>
        <servlet-name>BuildingServlet</servlet-name>
        <servlet-class>Controllers.BuildingServlet</servlet-class>
        <init-param>
            <param-name>jdbcDriver</param-name>
            <param-value>com.mysql.jdbc.Driver</param-value>
        </init-param>
    </servlet>
    <servlet>
        <servlet-name>ReportServlet</servlet-name>
        <servlet-class>Controllers.ReportServlet</servlet-class>
        <init-param>
            <param-name>jdbcDriver</param-name>
            <param-value>com.mysql.jdbc.Driver</param-value>
        </init-param>
    </servlet>
    <servlet>
        <servlet-name>BuildingServ2</servlet-name>
        <servlet-class>Controllers.BuildingServ2</servlet-class>
        <init-param>
            <param-name>jdbcDriver</param-name>
            <param-value>com.mysql.jdbc.Driver</param-value>
        </init-param>
    </servlet>
    <servlet-mapping>
        <servlet-name>PolyServlet</servlet-name>
        <url-pattern>/PolyServlet</url-pattern>
          <url-pattern>/MainPage/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BuildingServlet</servlet-name>
        <url-pattern>/BuildingServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ReportServlet</servlet-name>
        <url-pattern>/ReportServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BuildingServ2</servlet-name>
        <url-pattern>/BuildingServ2</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
